<h1>Combat</h1>

<div style="font-size: 18px;">
  <h2>Hero</h2>
  <div>
    <div>
      <span>HP: {{hero.hp.current}} / {{hero.hp.max}}</span>
    </div>
    <div>
      <span>Exp: {{hero.xp}} Lvl: {{hero.xl}}</span>
    </div>
    <div>
      <span>Dungeon Level: {{dungeon.currentLevel}}</span>
    </div>
  </div>

  <div class="container">
    <pre>
      /-----\
      |.....|
      +..@<app-monster *ngIf="dungeon.level.currentEncounter && dungeon.level.currentEncounter.monsters[0]" [monster]="dungeon.level.currentEncounter.monsters[0]"></app-monster><span *ngIf="!dungeon.level.currentEncounter || !dungeon.level.currentEncounter.monsters[0]">.</span>.+
      |.....|
      \-----/
    </pre>

    <app-encounter *ngIf="dungeon.level.currentEncounter" [encounter]="dungeon.level.currentEncounter"></app-encounter>
  </div>
  <app-hunger-status></app-hunger-status>
</div>